* {
    box-sizing: boder-box;
    padding: 0;
    margin: 0;
}



.background {
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.background:nth-of-type(1) {
    background-image: url(../assets/img/fale-conosco/background-image.jpg);
    margin-top: 10%;

}

.background div span {
    color: #FFCA08;
}

.background div h1 {
    text-align: center;
    padding-top: 150px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 40px;
    text-shadow: #000 2px 3px 2px;
}

.background div p {
    text-align: center;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 18px;
    text-shadow: #000 2px 3px 2px;
}

.cards {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(75, 75, 75, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all .3s ease-out;
    background-color: white;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info h3 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
}

.info p {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: normal;
}

.info .email {
    padding-bottom: 32px;

}

.info .telefone {
    padding-bottom: 32px;
}

.info .funcionamento {
    padding-bottom: 32px;
}

.info .emaenderecoil {
    padding-bottom: 32px;
}

#icon-email {
    font-size: 20px;
}

#icon-funcionamento {
    font-size: 20px;
}

#icon-telefone {
    font-size: 20px;
}

#icon-endereco {
    font-size: 20px;
}

.config-cards {
    align-items: flex-start;
}

.formulario {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(75, 75, 75, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all .3s ease-out;
    background-color: white;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formulario h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.formulario p {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20%;
}

.form input,
textarea {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-family: 'Sarala';
    width: 100%;
    letter-spacing: 1px;
    color: white;
}

.form {
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    transition: all .3s ease-out;
    box-shadow: 7px 7px 13px 0px rgba(75, 75, 75, 0.22);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
    background-color: #2a2a2a;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label-input {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

#botao {
    border: 1px solid #FFF500;
    background: transparent;
    background: rgba(0, 0, 0, 0.514);
    border-radius: 26px;
    color: white;
    width: 150px;
    height: 35px;
    text-align: center;
    font-weight: bold;

}

#botao:hover {
    box-shadow: 0 0 10px #FFCA08, 0 0 40px #FFCA08, 0 0 80px #FFCA08;
    background-color: #FFCA08;
    color: black;
    transition: all 1s ease;
    cursor: pointer;
}


.mapBox iframe {
    width: 100%;

}

::placeholder {
    color: white;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.whatsapp-link:hover {
    transform: translateY(-10px);
    transition: all 1s;
    transform-origin: button;
}