@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*ZERAR CONFIGURAÇÃO PADRÃO*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    background: #2A2A2A;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #2A2A2A;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}


header {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 115px;
    background: #2A2A2A;
    color: white;
    font-family: 'Sarala', sans-serif;
}

/*CONFIGURAÇÃO LOGO PEPE*/
.logo-pepe {
    position: absolute;
    width: 271px;
    height: 100px;
    left: 17px;
    top: 7px;
    border-radius: 10px;
}

/* ESTILIZAÇÃO NAVBAR*/
.navbar {
    display: flex;
    gap: 20px;
}

/* ESTILIZAÇÃO DAS LETRAS NAVBAR*/
.navbar a {
    color: white;
    font-style: normal;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    display: inline-block;
    left: 90px;
}

/* EFEITO HOVER DA NAVBAR */
.navbar a:hover {
    color: #FFCA08;

}

/* EFEITO HOVER DA NAVBAR */
.navbar a span {
    position: absolute;
    display: block;
}

/* EFEITO HOVER DA NAVBAR */
.navbar a span:nth-child(1) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFCA08);
}

/* EFEITO HOVER DA NAVBAR */
.navbar a:hover span:nth-child(1) {

    left: 100%;
    transition: 1.3s;

}

/*ICONE REDE SOCIAL*/
.icones-redes-sociais {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icones-redes-sociais #logo-facebook {
    width: 27px;
    height: 26px;
}

.icones-redes-sociais #logo-youtube {
    width: 26px;
    height: 25px;
}

.icones-redes-sociais #logo-instagram {
    width: 26px;
    height: 25px;
}

.icones-redes-sociais #logo-brazil {
    width: 26px;
    height: 25px;
    cursor: pointer;
}


/*ICONE MENU RESPONSIVEL
#menu-icon {
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none;
}*/

/*CONFIGURAÇÃO IMAGEM BACKGROUND*/
.background-configuration {
    background-image: url(../assets/img/imagem-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.texto-background {
    display: flex;
    flex-direction: column;
}

.texto-background h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    padding-left: 830px;
    padding-top: 70px;
}

/*CONFIGURAÇÃO BOTÃO*/
.botao-conheca {
    width: 209px;
    height: 49px;
    border: 1px solid #FFF500;
    border-radius: 26px;
    background: transparent;
    color: white;
    font-family: 'Sarala';
    background: rgba(0, 0, 0, 0.514);
    font-weight: bold;
}

.botao-conheca:hover {
    box-shadow: 0 0 10px #FFCA08, 0 0 40px #FFCA08, 0 0 80px #FFCA08;
    background-color: #FFCA08;
    color: black;
    transition: all 1s ease;
    cursor: pointer;
}

.botao {
    padding-left: 1150px;
    padding-top: 230px;
    position: absolute;
}

/*CONFIGURAÇÃO DO TEXTO MAIN*/
.text-main h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 40px;
    padding-left: 70px;
    padding-bottom: 20px;
}

.text-main p {
    font-family: 'Sarala';
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 20px;
    padding-left: 70px;
}


footer {
    width: 100%;
    height: 100%;
    left: 0px;
    background: #2A2A2A;
    border-top: 1px solid #FFFFFF;
    width: 100%;
}

/*LOGO FOOTER*/
.logo-pepe-footer {
    border-radius: 10px;
}

.conteudo {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CONFIGURAÇÃO TEXTO FOOTER*/
.conteudo p {
    font-family: 'Sarala';
    font-size: 17px;
    color: #FFFFFF;
}

#text1 {
    padding-top: 10px;
}

#text2 {
    padding-top: 20px;
    font-size: 15px;
}

#text3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#text4 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.linha {
    border-top: 1px solid #FFFFFF;
    width: 80%;
}